{% extends "common/base.html" %}

{% block title %}
    <title>Channels</title>
{% endblock %}

{% block style %}
    <style type="text/css" media="screen">
      .directory {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        padding: 1em 2em 4em
      }
      @media (min-width: 600px) {
        .directory {
          max-width: 480px;
        }
      }
      .channel {
        text-align: center;
      }
      .channel .button {
        margin: 0;
      }
    </style>
{% endblock %}

{% block menu %}
      <div class="menu">
        <a href="/about" class="pseudo button" title="About the PBX project">About</a>
      </div>
{% endblock %}

{% block content %}
        <section class="directory">
          {% for channel in view.public_channels %}
          <article class="card channel">
            <a class="button pseudo" href="{{ channel.url }}" title="Join the {{ channel.topic|lower }} channel">{{ channel.topic }}</a>
          </article>
          {% endfor %}
        </section>
{% endblock %}
