{% extends "common/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'conference/css/'|add:conference_css %}">
{% endblock %}

{% block content %}
    <main>
      <noscript>
        <p class="error">Enable JavaScript to use this service.</p>
      </noscript>
      <input type="hidden" id="stun-port" name="stun-port" value="{{ stun_port }}">
    </main>
    <script defer src="{% static 'conference/js/'|add:adapter_js %}"></script>
    <script defer src="{% static 'conference/js/'|add:client_js %}"></script>
{% endblock %}
